{% extends 'base.html.twig' %}
{% block body %}
    <main role="main" class="container">
        <h1 class="mt-5">Sonata</h1>
        <hr>
        <p class="lead">Фреймвор</p>
    </main>
{% endblock %}
