{% extends 'admin/base.html.twig' %}

{% block adm_body %}
    <main role="main" class="container">
        <h1 class="mt-5">Профиль: {{ app.user.username }}</h1>
        <hr>

    </main>
{% endblock %}