{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}

    <main role="main" class="container">
        <h1 class="mt-5">Новости sonata</h1>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                {% for new in news %}
                    <h4><a href="#">{{ new.title }}</a></h4>
                    <p>{{ new.content}}</p>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}
