{% trans_default_domain 'news' %}
{% extends 'admin_news/manage.html.twig' %}

{% block title %}{% trans %}Manage news{% endtrans %}{% endblock %}

{% block body %}
        <h1>{% trans %}Edit news{% endtrans %}</h1>
        <hr>
        {{ include('admin_news/_form.html.twig', {
            button_text: 'Save' |trans({}, 'main')
        })}}

{% endblock %}
