{% extends 'admin_news/manage.html.twig' %}

{% block title %}Hello AdminNewsController!{% endblock %}

{% block body %}

        <h1>Изменение Новости </h1>

        {{ include('admin_news/_form.html.twig', {
            button_text: 'Изменить'
        })}}

{% endblock %}
